{% extends 'base.html' %}
{% block contenido %}
<div class="card card-body">
    <form action="/update_prod/{{ producto.0 }}" method="POST">
        <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre producto" class="form-control" value="{{ producto.1}}">
        </div>
        <div class="form-group">
            <input type="text" name="descripcion" placeholder="Descripcion producto" class="form-control" value="{{ producto.2}}">
        </div>
        <div class="form-group">
            <input type="number" name="stock" placeholder="Stock producto" class="form-control" value="{{ producto.3}}">
        </div>
        <div class="form-group">
            <input type="date" name="fecha" placeholder="Fecha Creacion" class="form-control" value="{{ producto.4}}">
        </div>
        
        <div class="form-group">
            <label for="categoria">Seleccione la categoria</label>
            <select name="categoria" class="form-control">
                {% for categoria in categorias %}
                    {% if categoria.0 == cat_actual.0 %}
                        <option selected=true value="{{ categoria.0 }}">{{ categoria.1 }}</option>
                    {% else %}
                    <option value="{{ categoria.0 }}">{{ categoria.1 }}</option>
                    {% endif %}
                {% endfor%}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary mt-4">Save</button>
        </div>
    </form>
</div>
{% endblock %}