{% extends 'base.html' %}

{%block titulo %}Sistema De Gestion De Inventarios{% endblock %}

{% block contenido %}

<h2>{% block subtitulo %}Movimiento de  Productos en Bodega {%endblock%}</h2>

<div class="row">
  <div class="col-md-3">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor%}
        {% endif%}
        {% endwith%} 
    <div class="card card-body">
      <form action="/adicionar_mvto_bodega_producto" method="POST">
        <div class="form-group">
          <select name="bodega" class="form-control" required>
            <option selected=true disabled="disabled">Seleccione la bodega</option>
            {% for bodega in bodegas %}
                <option value="{{ bodega.0 }}">{{ bodega.1 }}</option>
            {% endfor%}
          </select>
        </div>
        <div class="form-group">
          <select name="producto" class="form-control" required>
            <option selected=true disabled="disabled">Seleccione el producto</option>
            {% for producto in productos %}
              <option value="{{ producto.0 }}">{{ producto.1 }}</option>
            {% endfor%}
          </select>
        </div>
        <div class="form-group">
          <input type="number" name="cantidad" placeholder="Catidad producto" class="form-control">
        </div>
        <div class="form-group">
          <input type="date" name="fecha" placeholder="Fecha ingreso producto" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="form-control btn btn-primary mt-4">Save</button>
        </div>
        
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-striped table-bordered sm-white table-sm">
      <thead>
        <tr>
          <td>Bodega</td>
          <td>Producto</td>
          <td>Stock</td>
          <td>Fecha Ingreso</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        {% for mvto in movimientos %}
        <tr>
          <td>{{mvto.5}}</td>
          <td>{{mvto.6}}</td>
          <td>{{mvto.2}}</td>
          <td>{{mvto.3}}</td>
          
          <td>
            <a href="/consultar_disponibilidad_producto/{{mvto.1}}" class="btn btn-success btn-sm">Consultar</a>
            <a href="/edit_producto_bodega/{{mvto.1}}/{{mvto.0}}" class="btn btn-danger btn-sm btn-delete">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}