{% extends 'base.html' %}

{%block titulo %}Sistema De Gestion De Inventarios{% endblock %}

{% block contenido %}

<h2>{% block subtitulo %}Gestion del Stock de Productos {%endblock%}</h2>

<div class="row">
    <div class="col-md-4">
        <a href="#" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Stock</a>
    </div>
    <div class="col-md-4">
        <a href="#" class="btn btn-primary btn-lg">Retirar Stock</a>
    </div>
    <div class="col-md-4">
        <a href="#" class="btn btn-primary btn-lg">Valor Total Stock</a>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>My modal</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}