<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered sm-white table-sm">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                        <td>Precio</td>
                        <td>Stock</td>
                    <td>Categoria</td>
                    <td>Proveedor</td>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
               <tr>
                <td>{{ detalle.1 }}</td>
                    <td>{{ detalle.2 }}</td>
                    <td>{{ detalle.9 }}</td>
                    <td>{{ detalle.10 }}</td>
                    <td>{{ detalle.4 }}</td>
                    <td>{{ detalle.6 }}</td>
               </tr>
                {% endfor %}
                    
            </tbody>
        </table>
        </div>
    </div>
</div>